<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="samples-aviation.ZPM">
    <Module>
      <Name>samples-aviation</Name>
      <Version>1.0.1</Version>
      <Description>Provides sample data for use in exploring InterSystems IRIS Text Analytics capabilities. Also includes sample analytics model elements.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Aviation.PKG"/>
      <Resource Name="aviation-data.GBL"/>
      <Invokes>
        <Invoke Class="Aviation.Utils" Method="SetupStandalone"></Invoke>
        <Invoke Class="Aviation.Utils" Method="SetupCube"></Invoke>
      </Invokes>
    </Module>
    
  </Document>
</Export>
